@charset "utf-8";

body {
    background-color: #000;
    background-image: url(../images/star-bg.jpg); 
    background-size: 680px 455px;
    margin: 0;
    padding: 0;
    font-family : D-DIN-Regular,Arial,Verdana,sans-serif;
    font-weight: 400;
    color: white    ;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

 
}

.cus-bg{
    text-decoration: none;
    color: rgba(225, 234, 245,0.95);
    font-size: 21px;
    background-image: linear-gradient(to right,black,#121a27,black)!important;
    border-bottom:5px solid rgb(198, 179, 179);
    text-shadow: 0 0 2px black, 0 0 2px whitesmoke;
}
    
.nav-link>a:hover{
    color: white;
    text-shadow: 0 0 3px black, 0 2px 15px white !important;
}

.nav-link>a {
    text-decoration: none;
    color: rgba(225, 234, 245,0.95);
}
